<script async defer src="https://maps.googleapis.com/maps/api/js?key=<{$api_key}>&callback=initMap" type="text/javascript"></script>
<div style="text-align: left;"><h1><{$title_block}></h1><br />
<{$header}>
<{if $isuser}>
	<{$smarty.const._MD_INSTRUCTIONS2}> - 
	<a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/managepoint.php"><{$smarty.const._MD_STITLE}></a>
<{else}>
	<{$smarty.const._MD_INSTRUCTIONS}>
<{/if}>
<br /><br /><b><{$smarty.const._MD_CATHEADER}></b><br />
<{section name=displaycategory loop=$category}>
	<a href="javascript:cat_show(<{$category[displaycategory].cat_id}>)"><{$category[displaycategory].name}></a> -
<{/section}>
<br /><br /><b><{$smarty.const._MD_POINTHEADER}></b><br />
<{section name=displaylastpoints loop=$point max=$maxlastpoints step=-1}>
	<a href="javascript:myclick(<{$smarty.section.displaylastpoints.index}>)"><{$point[displaylastpoints].nom}></a> -
<{/section}><br /><br />
</div>
<div id="map" style="width:<{$map_width}>px; height:<{$map_height}>px; text-align:left;"></div>
<{if $xoops_isadmin == 1}>
	<div class="gmaps_linktoadmin"><{$adminpage}></div>
<{/if}>
<script type="text/javascript">
//<![CDATA[
	var gmarkers = [];
	var gpolylines = [];
	var category = [];
	var htmls = [];
	var htmld = [];
	var to_htmls = [];
	var from_htmls = [];
	var map; // "map" variable for google maps api
	var infowindow;
	// This function picks up the click and opens the corresponding info window
	function myclick(i) {
		gmarkers[i].setMap(map);
		google.maps.event.trigger(gmarkers[i],'mouseover');
		reset_poly(i);
	}
	// reset polylines
	function reset_poly(i){
		for (var j=0;j<gpolylines.length;j++){
			if (gmarkers[i].cat_id==gpolylines[j].cat_id){
				gpolylines[j].setMap(map);
			}else{
				gpolylines[j].setMap(null);
			}
		}
	}
	// turn off points by category ids
	function turnOffPoints(cat_id){
		for (var i=0;i<gmarkers.length;i++){
			if (gmarkers[i].cat_id==cat_id)  {
				gmarkers[i].setMap(map);
			}else{
				gmarkers[i].setMap(null);
			}
		}
	}		
	// Affichage des catégories   
	function cat_show(cat_id){
		for(var i=0;category.length;i++){
			if(cat_id==category[i].cat_id){
				map.setCenter(new google.maps.LatLng(category[i].lat,category[i].lon));
				map.setZoom(category[i].zoom)
				break;
			}
		}
		infowindow.close();
		turnOffPoints(cat_id);
		for (var i=0;i<gmarkers.length;i++) {
   			if (gmarkers[i].cat_id==cat_id)  {
			
 				gmarkers[i].setMap(map);
   			}else{
				gmarkers[i].setMap(null);
			}
		}
	}		
function initMap() {
	var i = 0;
	var k = 0;
	var l = 0;
	infowindow = new google.maps.InfoWindow;
    // A function to create the marker and set up the event window
	function createMarker(point,name,cat_id,html1) {   		
		// Create a marker
		var marker = new google.maps.Marker({
			position: point,
			map: map,//have all of the markers show or not?
			gestureHandling: 'none'
			});
		gmarkers[i] = marker;
		gmarkers[i].cat_id = cat_id;
		i++;
		var html2 = "<div class='infobox'><img src='<{$xoops_url}>/modules/<{$xoops_dirname}>/images/meet.png'"+
		"width='24' height='24'><{$smarty.const._MD_DIRECTIONS}> <b><{$smarty.const._MD_TOHERE}></b>" + 
		"<br /><{$smarty.const._MD_STARTADDRESS}><form action='http://maps.google.com/maps' method='get' " +
		"target='_blank'>" +
		"<input type='text' SIZE=30 MAXLENGTH=30 name='saddr' id='saddr' value=''><br />" +
		"<INPUT value='<{$smarty.const._MD_GETDIRECTIONS}>' TYPE='SUBMIT'>" +
		"<input type='hidden' name='daddr' value='" + point.lat() + "," + point.lng() + "'></div>";
		google.maps.event.addListener(marker,"mouseover", function() { //Tabs were removed in V3.
			infowindow.setContent(html1);//TODO: tabs?
			infowindow.open(map,marker);
		});
	
		google.maps.event.addListener(marker,"click", function() {
			marker.setMap(null);
			infowindow.close();
		});  
	}
    // create the map
	var mapOptions = {
		zoom : 1,
		center: {lat:0, lng:0},
		mapTypeId: '<{$map_type}>'
	}
	map = new google.maps.Map(document.getElementById("map"), mapOptions);

    // add the points 
	<{section name=displaypoint loop=$point}>	
		createMarker(new google.maps.LatLng(<{$point[displaypoint].lat}>,<{$point[displaypoint].lon}>),
		"<{$point[displaypoint].title}>","<{$point[displaypoint].cat_id}>","<div class='infobox'><b><a href='<{$xoops_url}>/userinfo.php?uid=<{$point[displaypoint].uid}>' title='Lien vers Profil' ><img src='<{$xoops_url}>/modules/<{$xoops_dirname}>/images/profil.png' width='24' height='24'>  <{$point[displaypoint].nom}></a></b> - <{$point[displaypoint].promo}><br /><{$point[displaypoint].title}><br /><br /><img src='<{$xoops_url}>/uploads/<{$point[displaypoint].avatar_url}>' border='0' alt='<{$point[displaypoint].nom}>' /><br /><br /><{$point[displaypoint].html}></div>");
	<{/section}>

	// add polyline
	<{section name=displaypoly loop=$poly}>
	var polyCoords = [new google.maps.LatLng(<{$poly[displaypoly].lat_id1}>,<{$poly[displaypoly].lon_id1}>),
		new google.maps.LatLng(<{$poly[displaypoly].lat_id2}>,<{$poly[displaypoly].lon_id2}>)];
	var polyline = new google.maps.Polyline({
		path: polyCoords,
		strokeColor: "#ff0000",
		strokeOpacity: 1.0,
		strokeWeight: 3
		});
		//polyline.type = "<{$poly[displaypoly].map_id}>";??
		polyline.setMap(map);
		//polyline.display(false);
		gpolylines[k] = polyline;
		k++;
	<{/section}>

	//Categories
	<{section name=displaycateg loop=$category}>	
	category[<{$smarty.section.displaycateg.index}>] = {cat_id: <{$category[displaycateg].cat_id}>,lat: <{$category[displaycateg].lat}>,lon: <{$category[displaycateg].lon}>,name: '<{$category[displaycateg].name}>',zoom: <{$category[displaycateg].zoom}>};
	<{/section}>
}

//]]>
</script>